.wrapper(@screen_width) {
    max-width: @screen_width;
    margin-left: auto;
    margin-right: auto;
    

    flex-grow: 2;

}

.clear-properties() {
    padding: 0;
    margin: 0;    
    color: inherit;
    text-decoration: none;
    list-style: none;
}

.hover() {
    box-shadow: 0px 4px 0px 0px @color;
    cursor: pointer;
}

.user-pic(@h, @w) {
    margin: 0 auto;
    height: @h;
    width: @w;
    border-radius: 50%;
}

.icon(@url, @pos, @w, @h, @color) {
    &:before {
        content: "";
        display: block;
        width: @w; height: @h;
        background: @url @pos ;
        background-size: cover;               
        float: left;
        margin: 0 6px 0 0; 
        background-color: @color;
    }
}